<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kids_poem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".johny" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".love" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".hickory" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".ltsy" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".mary" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".five" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".rain" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".twinkle" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".baa" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Humpty" android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>